#footer{
	float: left;
	margin-top: 0px;
	width: 100%;
	height: 120px;
	background-color: black;
	}
#footer .contact{
	padding-top: 20px;
	padding-left: 10%;
	width: 1100px;
	height: 60px;
	text-align: center;
/*	background-color: #DDAF64;;*/
	}
#footer .contact a{
	text-decoration: none;
	font-size: 20px;
	font-family: 'Cormorant Garamond', serif;
	color: white;
	}
/*#footer .icon{*/
	width: 150px;
	height: 25px;
	margin:  auto;
/*	background-color: antiquewhite;*/
	}
/*#footer .icon .fb{*/
	float: left;
	height: 25px;
	}
/*#footer .icon .tw{*/
	float: left;
	margin-left: 25px;
	height: 25px;
	}
/*#footer .icon .insta{*/
	float: left;
	height: 25px;
	margin-left: 20px;
	}
/*#footer .icon .pin{*/
	float: right;
	height: 25px;
	}

	
	
